# Auto detect text files and perform LF normalization
* text=auto

# (Binaer-) Dateien, die nicht modifiziert werden sollen
*.png binary
*.jpg binary
*.cer binary
*.pem binary
package-lock.json binary
